img {
    max-height: 250px;
    max-width: 20%;
}

#img-row {
    text-align: center;
}

#img-container {
    background-color: cornsilk;
    text-align: center;
    padding: 10px;
}

#img-container > img {
    max-height: 500px;
    max-width: 100%;
}